#container {
    position: relative;
    width: 100%;
    height: 45vh;
    overflow: hidden;
}

body {
    text-align: center;
}

input[type="submit"] {
    display: block;
    width: 400px;
    height: 60px;
    color: #fdefef;
    background-color: #2d2e3b;
    padding: 10px;
    font-size: 20px;
    margin: 10px auto;
    cursor: pointer;
    border: 2px solid #ffffff;
    border-radius: 30px;
    transition: border-color 0.3s ease;
}


input[type="submit"]:hover {
    background-color: dodgerblue;
}

h1 {
    font-size: 27px;
}